/* global.css */

html,
body {
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
    width: 100%; /* 전체 화면 너비 */
    height: 100%; /* 전체 화면 높이 */
    box-sizing: border-box;
}

* {
    box-sizing: inherit; /* 상속 */
}
