body {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
}

.logo {
    margin: 30px 0 10px;
}

.version {
    color: #888;
    font-size: 14px;
    margin-bottom: 0px;
}

.content {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.login-btn {
    background-color: #286be8;
    color: white;
    padding: 15px 100px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-btn:hover {
    background-color: #1f5bb5;
}

#after-login.hidden {
    display: none;
}

#after-login {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    text-align: center;
    height: 69%;
}

.menu-item {
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 18px;
}

.toggle-section {
    width: 99%;
    margin-top: 15px;
    padding-right: 23;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.toggle-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.toggle-label {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.toggle-label img {
    margin-right: 10px;
}

.footer-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 14px;
}

.footer-bar a {
    color: #286be8;
    text-decoration: none;
}

.hidden {
    display: none;
}

/* 토글 스위치 */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #638fff;
}

input:checked + .slider:before {
    transform: translateX(20px);
}
