/* selection-style.css */

/* 전체 화면 오버레이 */
#vemo-selection-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent; /* 투명 */
  cursor: crosshair;
  z-index: 999999999; /* iframe 위로 올리기 위해 매우 큰 값 */
}

/* 실제 드래그 영역 박스 */
#vemo-selection-box {
  position: absolute;
  border: 2px solid #fff;
  background: rgba(215, 215, 215, 0.2);
  display: none;
  pointer-events: none; /* 드래그 박스 위는 클릭되지 않도록 */
}
