.mainNav {
  width: 100%;
  height: 70px;
  
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: white;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
}

.buttonHome {
  background-color: white;
  border: 0px;
}
.mainNavButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  padding-right: 20px;
}

.mainNavUser {
  width: 10px;
  height: 30px;

  background-color: white;
  border: 0px;
}
.mainNavCreate {
  width: 70px;
  height: 30px;
}

