.searchBox {
  width: 350px;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(197, 195, 195);
  box-shadow: 4px 4px 12px rgba(0,0,0,0.3);

  display: flex;
}
.searchIcon {
  /* 아이콘 색상변경 방법 찾기 */
  fill: currentColor;
  color: tomato;
}
.searchbar {
  width: 300px;
}